@media (min-width:1254px) {
    .nav-button {
        display: none;
    }
}

@media (max-width:1253px) {
    .aprensetacao {
        height: 100vh;
        width: 100%;
    }
    .cabecalho {
        display: flex;
        justify-content: space-around;
    }
    .cabecalho h1 {
        font-size: 1.7rem;
    }
    .lista {
        display: none;
    }
    .nav-button {
        display: block;
    }
    .aprensetacao {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 60%;
    }
    .foto img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .texto {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        justify-self: center;
        text-align: center;
    }
    .texto .texto-principal {
        width: 60%;
        display: flex;
        font-size: 30px;
    }
    .texto p {
        font-size: 100%;
    }
}


/* Menu mobile*/

@media screen and (max-width: 500px) {
    .texto-principal {
        font-size: 10px;
    }
    .nevegacao-mobile a {
        font-size: 20px;
    }
    .nevegacao-mobile #closeButton {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}