* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid grey;
    /* creates padding around scroll thumb */
}


/*Cabeçalho*/

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    padding: 10px;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(57, 57, 57, 0.476);
}

.cabecalho a {
    text-decoration: none;
    color: black;
}

.cabecalho h1 {
    font-size: 40px;
}

.lista {
    list-style: none;
    gap: 33px;
    display: flex;
    align-items: center;
}

.lista a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.lista a:nth-child(4) {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    transition: 0.3s;
}

.lista a:nth-child(4):hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px black;
}


/*Fim cabeçalho*/


/*Apresentação*/

.aprensetacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 90%;
    height: 550px;
    background-color: #EBEBEB;
    box-shadow: 15px 15px red;
    border-radius: 10px 0 10px 0;
    z-index: -9;
}

.animated img {
    width: 160%;
}

.texto-download {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.texto-principal {
    width: 600px;
}

.texto-principal p {
    font-size: 2.5rem;
}


/*Download currículo*/

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 5px;
}

.download a {
    background-color: red;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.download p {
    font-size: 12px;
    text-align: center;
}


/*Fim download currículo*/


/*Fim apresentação*/


/*Sobre mim*/

.sobreMim {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -9
}

.texto-sobreMim {
    width: 50%;
}

.texto-sobreMim p {
    font-size: 24pt;
}

.card>.foto img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
}


/*Fim sobre mim*/


/*Skill*/

#skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    height: 550px;
    background-color: #EBEBEB;
    box-shadow: 15px 15px red;
    border-radius: 10px 0 10px 0;
    z-index: -9;
    transition: 0.2s;
}

.card-skill:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.card-skill p {
    width: 50%;
    font-size: 12pt;
    text-align: center;
}

.card-skill img {
    width: 60%;
}


/*Skill*/


/*Roda-pé*/

.lista-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
}

.lista-footer a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
    font-size: 1.5rem;
}

.lista-footer a:hover {
    color: #717171;
}