* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    overflow-x: hidden;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    z-index: 9;
}

.cabecalho a {
    text-decoration: none;
    color: black;
}

.cabecalho h1 {
    font-size: 40px;
}

.lista {
    list-style: none;
    gap: 33px;
    display: flex;
    align-items: center;
}

.lista a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.lista a:nth-child(4) {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    transition: 0.3s;
}

.lista a:nth-child(4):hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px black;
}

.aprensetacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1220px;
    height: 550px;
    background-color: #EBEBEB;
    box-shadow: 15px 15px red;
    border-radius: 10px 0 10px 0;
    z-index: -9;
}

.foto img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto div {
    width: 500px;
}

.texto p {
    font-size: 40px;
}

.download {
    display: flex;
    flex-direction: column;
    max-width: 21%;
    gap: 5px;
}

.download a {
    background-color: red;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
}

.download p {
    font-size: 12px;
    text-align: center;
}

.download a:hover {
    box-shadow: 0 6px 10px black;
}

.lista-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
}

.lista-footer a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
    font-size: 1.5rem;
}

.lista-footer a:hover {
    color: #717171;
}